.article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@media screen and (orientation: portrait) {
  .article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;
  }
}
